@font-face {
  font-family: "Bryndan Write";
  src: url(fonts/BryndanWriteBook-nGPM.ttf) format("truetype");
}

:root {
  --color-text-title: #d67b64;
  --color-text-subtitle: #7d8672;
  --color-text-main: #f9f3e8;
  --color-text-contrast: #7b665b;
  --color-text-panel-1: #aecce6;
  --color-text-panel-2: #eacbbc;
  --color-text-panel-3: #d6d0c6;
  --color-text-panel-4: #d4ddc9;
  --color-text-panel-5: #dfcab2;
  --color-text-panel-6: #aecce5;
  --color-text-panel-7: #c8c2b0;
}

body {
  background-image: url("images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

::placeholder {
  color: var(--color-text-main);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-title);
}

h2 {
  text-align: center;
  font-size: 20px;
  color: var(--color-text-subtitle);
}

h1,
h2 {
  font-family: "Gaegu", cursive;
}

main {
  color: var(--color-text-main);
}

a {
  text-decoration: none !important;
  color: var(--color-text-main) !important;
}

a:hover {
  text-decoration: underline;
  color: var(--color-text-contrast) !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-text-main);
}

i {
  color: var(--color-text-main);
  font-size: 50px;
}

input {
  color: var(--color-text-main);
}

input:focus {
  outline: none;
}

button > i {
  color: var(--color-text-main);
}

button > i:hover,
button > a > i:hover {
  color: var(--color-text-contrast);
}

@media (min-width: 1200px) {
  main {
    transform: scale(0.8);
  }
}

.header {
  padding: 30px;
}

#conditions {
  background: var(--color-text-panel-2);
  padding: 5% 0;
  margin-bottom: 2em;
  max-height: 465px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  font-family: "Bryndan Write", cursive;
  font-size: xx-large;
}

@media (min-width: 960px) {
  #conditions {
    min-width: 416px;
  }
}

#conditions > p {
  font-size: xxx-large;
}

#conditions ul {
  padding: 0;
}

#conditions > i {
  font-size: 80px;
  text-align: center;
}

.current-city {
  text-transform: capitalize;
}

.forecast {
  margin-top: 2em;
}

.summary {
  font-family: "Gaegu", cursive;
}

#search-input {
  display: inline;
  bottom: 10px;
  border: none;
  border-bottom: 1px solid var(--color-text-main);
  position: relative;
  background-color: var(--color-text-panel-1);
  padding: 10px;
  width: calc(100% - 90px);
  color: var(--color-text-main);
}

#search-button {
  display: inline;
  position: relative;
  border-radius: 10px;
  border-color: transparent;
  border-style: solid;
  background-color: transparent;
  color: var(--color-text-main);
}

.summary > div {
  min-height: 90px;
  margin-bottom: 1em;
  padding: 0.7em;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: left;
  line-height: 1;
}

.search > form {
  width: 100%;
}

.summary-one {
  background-color: var(--color-text-panel-1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: x-large;
}

.summary-two {
  background-color: var(--color-text-panel-3);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
}

.summary-three {
  background-color: var(--color-text-panel-5);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
}

.summary-four {
  background-color: var(--color-text-panel-4);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: x-large;
}

.button-column {
  text-align: center;
  background-color: var(--color-text-panel-7);
  border-radius: 10px;
  margin-bottom: 32px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.button-column > ul > li {
  display: inline;
}

.button-column > ul {
  padding: 2% 0 2% 0;
}

@media (min-width: 1400px) {
  .button-column {
    height: 95%;
    margin-left: 20px;
    min-width: 200px;
  }

  .button-column > ul {
    padding: 50% 0 10% 0;
    display: block;
  }

  .button-column > ul > li {
    padding-bottom: 30%;
    display: block;
  }
}

.button-list {
  border-style: none;
  background-color: var(--color-text-panel-7);
}

.forecast > * {
  text-align: center;
}

.forecast > div {
  padding: 0;
  margin: 0;
}

.forecast-day {
  margin: 0 auto;
  height: 150px;
  text-align: center;
  padding: 1em;
  font-size: x-large;
  font-family: "Bryndan Write", cursive;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.forecast-day > p {
  margin-top: 0.4em;
}

.forecast-day-of-week {
  margin: 0 auto;
  text-align: center;
  font-family: "Gaegu", cursive;
  font-size: x-large;
  color: var(--color-text-contrast);
}

#forecast-day-1 > div {
  background-color: var(--color-text-panel-2);
}

#forecast-day-2 > div {
  background-color: var(--color-text-panel-4);
}

#forecast-day-3 > div {
  background-color: var(--color-text-panel-5);
}

#forecast-day-4 > div {
  background-color: var(--color-text-panel-3);
}

#forecast-day-5 > div {
  background-color: var(--color-text-panel-6);
}

footer {
  text-align: center;
  font-family: "Gaegu", cursive;
  color: var(--color-text-contrast);
}
